@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="card bg-base-200 shadow-md max-w-md mx-auto my-8">
    <div class="card-body text-center">
        <h1 class="card-title">@ViewData["Title"]</h1>
        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="flex justify-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-ghost">Click here to Logout</button>
            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    </div>
</div>
