@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center py-10">
    <h1 class="text-5xl font-bold mb-4">Welcome!</h1>
    <p class="text-lg">
        Connect discord
        <a href="https://discord.com/oauth2/authorize?client_id=1334589095640563713" class="text-primary hover:underline">
            Personal Assistant AI
        </a>
        to this page to get access to Chat history 
    </p>
    <p class="text-lg">
        You can edit your history with chat and see what prompt was given to GPT API to generate output for you
    </p>
</div>
